/*
.buttonYes {
  display: inline-block;
  padding: 15px 25px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.buttonYes:hover {
  background-color: #3e8e41;
}

.buttonYes:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.buttonNo {
  display: inline-block;
  padding: 15px 25px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  position: apsolute !important;
}

.buttonNo:hover {
  background-color: #3e8e41;
}

.buttonNo:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
} */

.buttonYes {
  display: inline-block;
  padding: 15px 25px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #e03314;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  font-style: italic;
  text-align: center;
  margin-left: 30px;
}

.clickMeButton {
  display: inline-block;
  padding: 15px 25px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  position: absolute;
  font-style: italic;
  text-align: center;
  margin-left: 10px;
}

.heart {
  fill: red;
  position: relative;
  top: 5px;
  padding-bottom: 25px;
  padding-left: 50px;
  width: 150px;
  animation: pulse 1s ease infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.img {
  height: 500px;
  width: 250px;
}

.img-round {
  border-radius: 10%;
}
.back-col {
  background-color: rgb(247, 206, 193);
}

.txt-style-h1 {
  font-style: italic;
  text-align: center;
}

.txt-style {
  font-style: italic;
  text-align: center;
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
