<div *ngIf="showedElement"
     class="al-con">
  <h1 class="txt-style-h1">Will you marry me?</h1>
  <button class="buttonYes"
          (click)="yes()">Yes</button>
  <button class="clickMeButton"
          appMoveElement>No</button>
</div>
<div *ngIf="showedMiki">
  <img src="assets/miki.png"
       class="img-round"> <svg class="heart"
       viewBox="0 0 32 29.6">
    <path d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2
 c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z" />
  </svg>
  <h3 class="txt-style">Congratulations! </h3>
  <h3 class="txt-style">You got the best gift.</h3>
</div>
